POSTGRES_URL=postgresql://neondb_owner:npg_gwb3mAQvN2ZG@ep-aged-term-amnjhdw5-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require
MONGODB_URL=mongodb+srv://gamevault:gamevault123@cluster0.cbwn8io.mongodb.net/gamevault?appName=Cluster0
REDIS_URL=redis://default:pVUiKDwao46btUJSr6vFW0j6tvl1eXfm@redis-18449.c57.us-east-1-4.ec2.cloud.redislabs.com:18449
NEO4J_URI=neo4j+s://a2eb1eb3.databases.neo4j.io
NEO4J_USER=a2eb1eb3
NEO4J_PASSWORD=GofijgvP5Vjhn_Gy4PgEjt1WJqH-sz2okiRab-6SUzE
PORT=3000